$levendr-platinum: #ebe8e7;
$levendr-tango-pink: #ea7186;
$levendr-orange-yellow: #f2c76e;
$levendr-toolbox: #7a77b9;
$levendr-bright-lavendr: #bd9dea;


$levendr-dark : #734f97;
$levendr-bright : #bf94e6;
$levendr-light : #dda0de;


$body-bg: #000;
$body-color: #111;

$primary: $levendr-toolbox;
$secondary: $levendr-bright-lavendr;
$info: $levendr-orange-yellow;
$background: $levendr-platinum;

$enable-rounded: true;
