.collapsible-card {
  border-radius: 8px;
}

.collapsible-header {
  font-weight: 400;
  font-size: 0.9em;
  cursor: pointer;
  border-radius: 8px;
  border-bottom: 0px solid rgba(0, 0, 0, 0.125);
}

.collapsible-header:hover {
  background-color: #cfcfcf;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
}

.collapsible-header:first-child {
  border-top: 1px solid #e1e1e1;
  border-left: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;
  border-top-left-radius: 8px !important;
  border-top-right-radius: 8px !important;
  border-bottom-left-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
}

.collapsible-header-open:first-child {
  border-top: 1px solid #e1e1e1;
  border-left: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;
  border-top-left-radius: 8px !important;
  border-top-right-radius: 8px !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.collapsible-body {
  font-size: 0.8em;
  font-weight: 400;
  max-height: 0;
  padding: 0px;
  overflow: hidden;
  transition: max-height 0.1s ease-out;
}

.collapsible-body-open {
  /* animation-duration: 1s;
  animation-name: opening; */
  max-height: 2000px;
  transition: max-height 0.2s ease-in;
}

.collapsible-arrow {
  transform: rotate(0);
  transition: transform 0.2s ease-out;
}

.collapsible-arrow-open {
  transform: rotate(0.25turn);
  transition: transform 0.2s ease-in;
}



/* Reactstrap modifications */
.list-group-item {
  padding: 8px !important;
}

.list-group-item:first-child {
  border-radius: 0px;
}

.list-group-item:only-child {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.list-group-item:last-child {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
