.levendr-table table {
    /* background-color: grey; */
}

.levendr-table table thead {
    /* background-color: pink; */
}

.levendr-table table thead tr{
    border-top: none;
    border-bottom: none !important;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .1rem;
}

.levendr-table table thead tr th{
    border-top: none;
    border-bottom: none !important;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .1rem;
}

.levendr-table table tbody{
    /* background-color: green; */
}

.levendr-table table tbody tr{
    border-radius: 7px;
    overflow: hidden;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

.levendr-table table tbody td{
    background: #fff;
    border: none;
}